# Ignore everything
*
# But not these files...
!.gitignore
!.vimrc
!.tmux.conf
!.vim
!.vim/**
!.setup_dotfiles.sh

# Ignore the installed plugins
.vim/plugged/**

# Ignore the vim-plug stuff, the vimrc will grab this stuff
.vim/autoload/**

